<body>
    <div class="fling-minislide">
        <img src="../../assets/frutta.jpg" alt="Slide 1">
        <img src="../../assets/spesa-carrello.jpg" alt="Slide 2">
        <img src="../../assets/casse.jpg" alt="Slide 3">
    </div>
    <div class="logo">
        <img src="../../assets/scarsefour.png">
    </div>
    <div class="wrapper">
        <div class="rotateObj">
            <h2 class="active"><span>ANAGRAFICHE</span></h2>
            <div class="content">
                <a routerLink="/anagrafica-posizioni" class="link">Anagrafica Posizioni</a>
                <br>
                <a routerLink="/anagrafica-prodotti" class="link">Anagrafica Prodotti</a>
                <br>
                <a routerLink="/anagrafica-cassiere" class="link">Anagrafica Cassiere</a>
                <br>
                <a routerLink="/anagrafica-casse" class="link">Anagrafica Casse</a>
                <br>
                <a routerLink="/anagrafica-sconti" class="link">Anagrafica Sconti</a>
            </div>
            <h2><span>DASHBOARD</span></h2>
            <div class="content">
                <a routerLink="/dashboard-gruppo-uno" class="link">Dashboard Cassa 1</a>
                <br>
                <a routerLink="/dashboard-gruppo-due" class="link">Dashboard Cassa 2</a>
                <br>
                <a routerLink="/dashboard-gruppo-tre" class="link">Dashboard Cassa 3</a>
                <br>
                <a routerLink="/dashboard-gruppo-quattro" class="link">Dashboard Cassa 4</a>
            </div>
            <h2 class="active2"><span>GESTIONE SCAFFALE</span></h2>
            <div class="content">
                <a routerLink="/" class="link">Visualizza Giacenza</a>
                <br>
                <a routerLink="/" class="link">Carica Merce</a>
                <br>
                <a routerLink="/" class="link">Scarica Merce</a>
                <br>
                <a routerLink="/" class="link">Segnala Scarsità</a>
                <br>
                <a routerLink="/" class="link">Associa Prodotto</a>
                <br>
                <a routerLink="/" class="link">Disassocia Prodotto</a>
            </div>
        </div>
    </div>
</body>