<body>
    <h1>Benvenuto allo ScarsefourJ</h1>
    <br>
    <button (click)="vaiA('anagrafica-posizioni')">Anagrafica posizioni</button>
    <button (click)="vaiA('anagrafica-prodotti')">Anagrafica prodotti</button>
    <button (click)="vaiA('anagrafica-cassiere')" >Anagrafica cassiere</button>
    <button (click)="vaiA('anagrafica-casse')">Anagrafica casse</button>
    <button (click)="vaiA('anagrafica-sconti')">Anagrafica sconti</button>
    <br>
    <br>
    <button (click)="vaiA('dashboard-gruppo-tre')">Dashboard Cassa Gruppo TRE</button>
    </body>

<!--/<button (click)="vaiA('')"></button> !-->


