<body>
    <h1>Benvenuto in</h1>
    <img src="../../assets/Logo Scarsefour.jpg" width="300" height="150">
    <br>
    <br>
    <button (click)="vaiA('anagrafica-posizioni')">Anagrafica posizioni</button>
    <button (click)="vaiA('anagrafica-prodotti')">Anagrafica prodotti</button>
    <button (click)="vaiA('anagrafica-cassiere')" >Anagrafica cassiere</button>
    <button (click)="vaiA('anagrafica-casse')">Anagrafica casse</button>
    <button (click)="vaiA('anagrafica-sconti')">Anagrafica sconti</button>
    <br>
    <br>
    <button (click)="vaiA('dashboard-gruppo-uno')">Dashboard Cassa Gruppo UNO</button>
    <button (click)="vaiA('dashboard-gruppo-tre')">Dashboard Cassa Gruppo TRE</button>
    </body>

<!--/<button (click)="vaiA('')"></button> -->


