Anagrafica casse
<br>
<button (click)="nuova()" *ngIf="buttonNuovaVisible">Nuova</button>
<br>
<div *ngIf="formDivVisible">
  Codice cassa: <input type="text" [(ngModel)]="cassa.codice" [disabled]="campiNonEditabili">
  <br>
  <div>
    <button (click)="modifica()" *ngIf="!confAnnVisible">Modifica</button>
    <button (click)="conferma()" *ngIf="confAnnVisible">Conferma</button>
    <button (click)="annulla()" *ngIf="confAnnVisible">Annulla</button>
    <button (click)="rimuovi()" *ngIf="!confAnnVisible">Rimuovi</button>
  </div>
</div>
<div *ngIf="searchVisible">
  <input type="text" [(ngModel)]="searchCriterion">
  <button (click)="cerca()">Cerca</button>
  <br>
  <table>
    <tr>
      <th>Codice</th>
    </tr>
    <tr *ngFor="let c of listaCasse">
      <td>{{c.codice}}</td>
      <td> <button (click)="seleziona(c)">Seleziona</button> </td>
    </tr>
  </table>
</div>
