<app-toolbar-menu></app-toolbar-menu>
<h4>Benvenuto in associa prodotto a scaffale</h4>
<!--<input type="text" placeholder="inserisci codice posizione scaffale" [(ngModel)]="posizioneScaffale.codice">-->
<button (click)="cercaPosizioneScaffale()">Cerca posizioni scaffale</button>
<table>
    <tr>
        <th>Posizione</th>
    </tr>
    <tr *ngFor="let p of posizioni">
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td> <button (click)="seleziona(p)">Seleziona</button></td>
    </tr>
</table>
<br>
<h3>Posizione: {{posizioneScaffale.codice}}</h3>
<br>
<!--<input type="text" placeholder="inserisci codice prodotto" [(ngModel)]="prodotto.codice">-->
<button (click)="cercaProdottiNonAssociati()">Cerca prodotti non associati</button>
<table>
    <tr>
        <th>Posizione</th>
    </tr>
    <tr *ngFor="let p of prodotti">
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td> <button (click)="associa(p)">Associa prodotto a scaffale</button></td>
    </tr>
</table>