<body>
    <app-toolbar-menu></app-toolbar-menu>
    <div class="headDash">
        <h3>VISUALIZZA GIACENZA IN POSIZIONE</h3>
    </div>
    <div>
    <table class="scrolldown">
        <thead>
          <tr>
            <th>Posizioni</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of posizioni">
            <td>{{p.codice}}</td>
            <td>
              <button (click)="visualizzaGiacenza(p)" class="buttonSel">Seleziona</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
    <div *ngIf="formDivVisible">
        <table *ngIf="formVisible" class="scrolldown">
            <thead>
              <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Giacenza Attuale</th>
                <th>Giacenza Minima</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of sku">
                <td>{{s.prodotto.codice}}</td>
                <td>{{s.prodotto.descrizione}}</td>
                <td>{{s.giacenza}}}</td>
                <td>{{s.scortaMinima}}</td>
              </tr>
            </tbody>
          </table>
    </div>