<body>
  <app-toolbar-menu></app-toolbar-menu>
  <div>
      <h1 class="headAnagrafica">VISUALIZZA GIACENZA IN POSIZIONE</h1>
  </div>
  <div>
    <input type="text" placeholder="codice" [(ngModel)]="criterio" class="input">
    <button (click)="cerca()" class="button">Cerca</button>
  </div>
  <div class="scrolldown">
  <table>
      <thead>
        <tr>
          <th>Posizioni</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of posizioni">
          <td>{{p.codice}}</td>
          <td>
            <button (click)="visualizzaGiacenza(p)" class="buttonSel">Seleziona</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination
          (next)="goToNext($event)"
          (prev)="goToPrevious($event)"
          (first)="goToFirst($event)"
          (last)="goToLast($event)"
          (numPaginaO) = "caricaPosizioniPaginati($event)"
          (pagSize) ="setElemPag($event)"
          [numPaginaV] = numPaginaV
          [totalPages]=totalPages
          [elemPag]=elemPag>
  </app-pagination>
  <br>
  <div *ngIf="formDivVisible" class="scrolldown">
      <table *ngIf="formVisible">
          <thead>
            <tr>
              <th>Codice</th>
              <th>Descrizione</th>
              <th>Giacenza Attuale</th>
              <th>Giacenza Minima</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let g of listaGiacenza">
              <td>{{g.codice}}</td>
              <td>{{g.descrizione}}</td>
              <td>{{g.giacenza}}</td>
              <td>{{g.scortaMinima}}</td>
            </tr>
          </tbody>
        </table>
  </div>