<body>
    <app-toolbar-menu></app-toolbar-menu>
    <div class="headDash">
        <h3>VISUALIZZA GIACENZA IN POSIZIONE</h3>
    </div>
    <div *ngIf="divPosizioniVisible">
    <table *ngIf="tablePosizioniVisible" class="scrolldown">
        <thead>
            <TH COLSPAN="2"><BR><H3>TABELLA POSIZIONI</H3>
            </TH>
          <tr>
            <th>Posizioni</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of posizioni">
            <td>{{p.codice}}</td>
            <td>
              <button (click)="seleziona(p)" class="buttonSel">Seleziona</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div> 
    <div *ngIf="formDivVisible">
        <table *ngIf="formVisible" class="scrolldown">
            <thead>
              <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Giacenza Attuale</th>
                <th>Giacenza Minima</th>
              </tr>
            </thead>
            <tbody>
                <tr>
              <!-- <tr *ngFor="let r of prodotti">
                <td>{{r.codice}}</td>
                <td>{{r.descrizione}}</td> -->
                <!-- <td>{{r.giacenzaAttuale}}</td>
                <td>{{p.giacenzaMinima}}</td> -->
                <td>
                  <button (click)="seleziona(p)" class="buttonSel">Seleziona</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>