<body>
    <app-toolbar-menu></app-toolbar-menu>
    <div class="headDash">
        <h3>DASHBOARD CASSA DUE</h3>
    </div>
    <div class="divvone">
        <div class="col-3">
            <input class="inputBarcode" type="text" [disabled]="!eanEditabile" placeholder="barcode" [(ngModel)]="barcode" (blur)="eventoEan()">
            <br> <br>
            <label *ngIf="!prezzoVisible">Prezzo:€ {{prezzo}} </label>
            <button class="button" (click)="vediPrezzo()" *ngIf="vediPrezzoVisibile" id="butVediPrezzo">Vedi prezzo</button>
        </div>
        <br><br>
        <div class="col-3">
            <button class="button" (click)="chiudiScontrino()" *ngIf="!chiudiScontrinoVisibile" [disabled]="!chiudiScontrinoDisable" id="butChiudiScontrino">Chiudi scontrino</button>
        </div>
        <div class="col-3">
            <button class="button" (click)="stornaUltimoAction()" *ngIf="stornaVisibile" id="butStorna">Storna ultimo</button>
        </div>
        <div class="col-3">
            <button class="button" (click)="annullaScontrino()" *ngIf="annullaScontrinoVisibile" [disabled]="annullaScontrinoDisabled" id="butAnnScontrino">Annulla scontrino
            </button>
            <br><br><br><br>
            <button class="button" (click)="annulla()" *ngIf="confermaVisibile" [disabled]="annullaConfermaDisabled" id="butAnnulla">Annulla
</button>
            <br><br>
            <button class="button" (click)="conferma()" *ngIf="confermaVisibile" [disabled]="annullaConfermaDisabled" id="butConferma">Conferma
</button>
        </div>
        <br>
            <div class="elem">
                <div *ngIf="listaVisibile">
                    <h2>Ultimo elemento {{ultimoElemento}}</h2>
                </div>
            </div>
            <br>
            <table *ngIf="listaVisibile"class="tab-1">
                <tr>
                    <th>Quantita</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                </tr>
                <tr *ngFor="let r of righeScontrino">
                    <td>{{r.quantita}}</td>
                    <td>{{r.prodotto.descrizione}}</td>
                    <td>{{r.prodotto.prezzo}}</td>
                </tr>
            </table>
        <div class="tab-2">
            <div class="tot">
                <h2>Totale: {{totale}} €</h2>
            </div>
        </div>
    </div>
</body>