<body>
    <div>
        <button routerLink='/home-page'>Home Page</button>
    </div>
</body>
<input type="text" [disabled]="eanEditabile" placeholder="barcode" [(ngModel)]="barcode">
Prezzo:€ {{prezzo}}
<button (click)="annullaScontrino()" *ngIf="annullaScontrinoVisibile">Annulla scontrino</button>
<br>
<button (click)="vediPrezzo()" *ngIf="vediPrezzoVisibile">Vedi prezzo</button>
<button (click)="chiudiScontrino()" *ngIf="chiudiScontrinoVisibile">Chiudi scontrino</button>
<button (click)="stornaUltimo()" *ngIf="stornaVisibile">Storna ultimo</button>
<button (click)="annulla()" *ngIf="confermaVisibile">Annulla</button>
<button (click)="conferma()" *ngIf="confermaVisibile">Conferma</button>
<br>
<h2>Ultimo elemento {{ultimoElemento}}</h2>
<br>
<table *ngIf="listaVisibile">
    <tr>
        <th>quantita</th>
        <th>descrizione</th>
        <th>prezzo</th>
    </tr>
    <tr *ngFor="let r of righeScontrino">
        <td>{{r.quantita}}</td>
        <td>{{r.prodotto.descrizione}}</td>
        <td>{{r.prodotto.prezzo}}</td>
    </tr>
</table>