
<input type="text" placeholder="barcode" [(ngModel)]="ean" [disabled]="eanNonEditabile" (keydown.tab)="inserisceEan()">
<p *ngIf = "tastoTabMes"> Premere tasto tab per confermare codice prodotto</p>

<br>
<button (click)="vediPrezzo()" *ngIf="vediPrezzoVisibleB">Vedi prezzo</button>
<button (click)="chiudiScontrino()" *ngIf="chiudiB">Chiudi scontrino</button>
<br>
<p *ngIf="prezzoB">Prezzo: {{prezzo}}</p>
<br>
<button (click)="stornaUltimo()" *ngIf="stornaB">Storna ultimo</button>
<button (click)="annullaScontrino()" *ngIf="annullaScontrinoB">Annulla scontrino</button>
<br>
<button (click)="Annulla()" *ngIf="annullaB">Annulla</button>
<button (click)="Conferma()" *ngIf="confermaB">Conferma</button>
<br>
<p *ngIf="prezzoLabel">Ultimo elemento {{Descrizione}} {{prezzo}}
    Totale </p>
<br>
<table *ngIf="lista">
    <tr>
        <th> Quantità</th>
        <th> Descrizione</th>
        <th> Prezzo </th>
    </tr>
    <tr *ngFor="let s of scontrini">
        <td> quantità</td>
        <td> descrizione</td>
        <td>prezzo </td>
    </tr>
</table>
<p *ngIf="totaleScontrinoLabel">Totale:{{totale}}</p>


