<h2>Dashboard Cassa 4</h2>

<input type="text" placeholder="barcode" [(ngModel)]="ean" [disabled]="eanNonEditabile" (keydown.tab)="inserisciEanAction()"
    *ngIf="barCodeNonVisibile">
<p *ngIf="tastoTabMes"> Premere tasto tab per confermare codice prodotto</p>

<br>
<button ng-disabled="bottoneVediPrezzo" (click)="vediPrezzo()" *ngIf="vediPrezzoVisibleB">Vedi prezzo</button>
<button ng-disabled="bottoneChiudiScontrino" (click)="chiudiScontrino()" *ngIf="chiudiB">Chiudi scontrino</button>
<br>
<p *ngIf="prezzoB">Prezzo: {{prezzo}}</p>
<br>
<p>{{errore}}</p>
<br>
<button ng-disabled="bottoneStornaUltimo" (click)="stornaUltimo()" *ngIf="stornaB">Storna ultimo</button>
<button ng-disabled="bottoneAnnullaScontrino" (click)="annullaScontrinoAction()" *ngIf="annullaScontrinoB">Annulla
    scontrino</button>
<br>
<button ng-disabled="bottoneAnnulla" (click)="Annulla()" *ngIf="annullaB">Annulla</button>
<button ng-disabled="bottoneConferma" (click)="Conferma()" *ngIf="confermaB">Conferma</button>
<br>
<p *ngIf="prezzoLabel">Ultimo elemento {{Descrizione}} {{prezzo}}
    Totale </p>
<br>
<table *ngIf="lista">
    <tr>
        <th> Quantità</th>
        <th> Descrizione</th>
        <th> Prezzo </th>
    </tr>
    <tr *ngFor="let s of righeScontrino">
        <td> {{s.quantita}}</td>
        <td> {{s.prodotto.descrizione}}</td>
        <td>{{s.prodotto.prezzo}} </td>
    </tr>
</table>
<p *ngIf="totaleScontrinoLabel">Totale:{{totale}}</p>