<body>
  <app-toolbar-menu></app-toolbar-menu>
  <div>
    <h1 class="headAnagrafica">CARICA MERCE</h1>
  </div>
  <div>
    <input class="inputSearch" type="text" [(ngModel)]="criterio" title="descrizione scaffale" />
    <button class="button" (click)="cercaPosizione(criterio)">Cerca</button>
  </div>
  <br>
  <div class="scrolldown">
    <table>
      <thead>
        <tr>
          <th>Codice Scaffale</th>
          <th>Descrizione</th>
          <th>Seleziona</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ps of listaPosizioni; index as i">
          <td>{{ps.codice}}</td>
          <td>{{ps.descrizione}}</td>
          <td><button class="buttonSel" (click)="caricaProdotti(ps)">Seleziona</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div *ngIf="divTabellaProdottiVisibile" class="scrolldown">
    <p>CODICE SCAFFALE: {{codiceScaffaleSel}}   DESCRIZIONE: {{descrizioneScaffaleSel}}</p>
    <br> 
    <table>
      <thead>
        <tr>          
          <th>Codice Prodotto</th>
          <th>Descrizione</th>
          <th>Giacenza Attuale</th> 
          <th>Seleziona</th>         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listaProdottiGiacenza">          
          <td>{{p.codice}}</td>
          <td>{{p.descrizione}}</td>
          <td>{{p.giacenza}}</td>
          <td><button (click)="prodottoSelezionato(p)" class="button">Seleziona</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div *ngIf="divAggiungiQuantitaVisibile" class="tab-1">
    <p>CODICE PRODOTTO: {{codiceProdottoSel}}   DESCRIZIONE: {{descrProdottoSel}}   GIACENZA ATTUALE: {{giacenzaAttualeProdottoSel}}</p>
    <br>    
    <input  class="input" type="number" [(ngModel)]="quantita" title="Quantita da aggiungere">
    <button (click)="caricaMerce(quantita)" class="button">Carica</button>
    {{esito}}
  </div>
</body>