h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding-left: 70px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 80px;
}

hr {
    border: none;
    border-top: 1px solid #CCCCCC;
    height: 1px;
    margin-bottom: 25px;
}

.button1 {
    background-color: #f8f8f8;
    /* Green */
    border: 1px solid rgb(60, 204, 125);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    transition-duration: 0.6s;
}

.button1:hover {
    background-color: rgb(60, 204, 125);
    /* Green */
    color: rgb(0, 0, 0);
}

#tabs {
    float: left;
    width: 100%;
    background: #F4F7FB;
    font-size: 93%;
    line-height: normal;
    border-bottom: 1px solid #e6d2bc;
}

#tabs ul {
    margin: 0;
    padding: 10px 10px 0 50px;
    list-style: none;
}

#tabs li {
    display: inline;
    margin: 0;
    padding: 0;
}

#tabs a {
    float: left;
    background: url("../assets/tableft.gif") no-repeat left top;
    margin: 0;
    padding: 0 0 0 4px;
    text-decoration: none;
}

#tabs a span {
    float: left;
    display: block;
    background: url("../assets/tabright.gif") no-repeat right top;
    padding: 5px 15px 4px 6px;
    color: #627EB7;
}

#tabs a span {
    float: none;
}

#tabs a:hover span {
    color: #627EB7;
}

#tabs a:hover {
    background-position: 0% -42px;
}

#tabs a:hover span {
    background-position: 100% -42px;
}
