<div>
    <input type="text" placeholder="Inserisci" [(ngModel)]="inserisciScaffale" class="input">
    <button (click)="cercaScaffale()" class= "button">Cerca</button>
</div>
<br>
<br>
<h3>Prodotti su scaffale:</h3>
<br>
<div>
    <table class="scrolldown">
        <tr>
            <th>Codice prodotto</th>
            <th>Descrizione prodotto</th>
            <th>Seleziona</th>
        </tr>
        <tr *ngFor="let p of prodotti">
            <td>{{p.prodotto.codice}}</td>
            <td>{{p.prodotto.descrizione}}</td>
            <td>
                <button (click)="selezionaProdotto()">Seleziona</button>
            </td>
        </tr>
    </table>
</div>