<body>
    <div>
        <button (click)="tornaHome()">Home Page</button>
    </div>

    <div class="titolo">
        <h2>Anagrafica Sconti</h2>
    </div>

    <div *ngIf="form">
        <input type="text" placeholder="codice" [(ngModel)]="sconto.codice" [disabled]="codiceS">
        <input type="text" placeholder="descrizione" [(ngModel)]="sconto.descrizione" [disabled]="descrizioneS">
        <input type="text" placeholder="dalla Data" [(ngModel)]="sconto.dallaData" [disabled]="dallaDataS">
        <input type="text" placeholder="alla Data" [(ngModel)]="sconto.allaData" [disabled]="allaDataS">
        <input type="text" placeholder="sconto" [(ngModel)]="sconto.sconto" [disabled]="scontoS">
        <br>
        <br>
        <br>
        <button (click)="modifica()" *ngIf="edit">Modifica</button>
        <button (click)="annulla()" *ngIf="annull">Annulla</button>
        <button (click)="conferma()" *ngIf="conf">Conferma</button>
        <button (click)="rimuovi()" *ngIf="remove">Rimuovi</button>
    </div>
    <br>
    <br>
    <button (click)="nuova()" *ngIf="aggiungi">Nuova</button>
    <br>
    <br>
    <div *ngIf="search">
        <input type="text" [(ngModel)]="criterio" placeholder="Cerca per codice">
        <button (click)="cerca()">Cerca</button>
    </div>
    <br>
    <br>
    <div class="tabella">
        <table *ngIf="tabella">
            <tr>
                <th>Codice</th>
                <th>Descrizione</th>
                <th>Dalla data</th>
                <th>Alla data</th>
                <th>Sconto</th>
                <th>Seleziona</th>
            </tr>
            <tr *ngFor="let s of sconti">
                <td>{{s.codice}}</td>
            <td>{{s.descrizione}}</td>
            <td>{{s.dallaData}}</td>
            <td>{{s.allaData}}</td>
            <td>{{s.sconto}}</td>
                <td><button (click)="seleziona(s)">Seleziona</button></td>
            </tr>
        </table>

    </div>
</body>