<div class="navbar">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Anagrafiche
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/anagrafica-posizioni">Anagrafica Posizioni</a>
        <a routerLink="/anagrafica-prodotti">Anagrafica Prodotti</a>
        <a routerLink="/anagrafica-cassiere">Anagrafica Cassiere</a>
        <a routerLink="/anagrafica-casse">Anagrafica Casse</a>
        <a routerLink="/anagrafica-sconti">Anagrafica Sconti</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Dashboard
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/dashboard-gruppo-uno">Dashboard Cassa 1</a>
        <a routerLink="/dashboard-gruppo-due">Dashboard Cassa 2</a>
        <a routerLink="/dashboard-gruppo-tre">Dashboard Cassa 3</a>
        <a routerLink="/dashboard-gruppo-quattro">Dashboard Cassa 4</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">Gestione Scaffale
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/visualizza-giacenza">Visualizza Giacenza</a>
        <a routerLink="/carica-merce">Carica Merce</a>
        <a routerLink="/scarica-merce">Scarica Merce</a>
        <a routerLink="/">Segnala Scarsità</a>
        <a routerLink="/">Associa Prodotto</a>
        <a routerLink="/">Disassocia Prodotto</a>
      </div>
    </div>
  </div>