<body>
    <app-toolbar-menu></app-toolbar-menu>
    <div class="headDash">
        <h3>DASHBOARD CASSA TRE</h3>
    </div>
    <div class="divvone">
        <div class="col-3">
            <input type="text" placeholder="barcode" [(ngModel)]="barcode" (keydown.Tab)="onKey($event)"
                [disabled]="inputDisabled" class="inputBarcode">
            <br>
            <br>
            <button (click)="attivaVediPrezzo()" [disabled]="prezzoDisabled" class="button" id="butVediPrezzo">Vedi
                prezzo</button>
        </div>
        <div class="col-3">
            <button (click)="chiudiScontrino()" [disabled]="chiudiDisabled" class="button"
                id="butChiudiScontrino">Chiudi Scontrino</button>
        </div>
        <div class="col-3">
            <label *ngIf="!prezzoVisible">Prezzo: {{prezzoProdotto}}</label>
            <label *ngIf="!messErroreVisible">{{messaggioErrore}}</label>
            <br>
            <br>
            <button (click)="stornaUltimo()" *ngIf="!stornaVisible" class="button" id="butStorna">Storna
                ultimo</button>
        </div>
        <div class="col-3">
            <button (click)="annullaScontrino()" [disabled]="annullaScontrinoDisabled" class="button"
                id="butAnnScontrino">Annulla
                Scontrino</button>
            <br>
            <br>
            <button (click)=annulla() [disabled]="annullaDisabled" class="button" id="butAnnulla">Annulla</button>
            <br>
            <br>
            <button (click)=conferma() [disabled]="confermaDisabled" class="button" id="butConferma">Conferma</button>
        </div>
        <div class="tab-1">
            <div class="elem">
                <h2>Ultimo elemento {{ultimoElemento}}</h2>
            </div>
            <table *ngIf="listaVisible" class="scrolldown" id="tabDash">
                <tr>
                    <th>Quantità</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                </tr>
                <tr *ngFor="let r of righe">
                    <td>{{r.quantita}}</td>
                    <td>{{r.prodotto.descrizione}}</td>
                    <td>{{r.prodotto.prezzo}}</td>
                </tr>
            </table>
        </div>
        <div class="tab-2">
            <div class="tot">
                <h2>Totale: {{totale}}</h2>
            </div>
        </div>
    </div>
</body>