<body>
    <app-toolbar-menu></app-toolbar-menu>
    <div>
        <h3>DASHBOARD CASSA TRE</h3>
    </div>
    <br>
    <br>
    <input type="text" placeholder="barcode" [(ngModel)]="barcode" (keydown.Tab)="onKey($event)"
        [disabled]="inputDisabled" class="inputBarcode">
    <br>
    <button (click)="attivaVediPrezzo()" [disabled]="prezzoDisabled" class="button">Vedi prezzo</button>
    <br>
    <button (click)="chiudiScontrino()" [disabled]="chiudiDisabled" class="button">Chiudi Scontrino</button>
    <br>
    <label *ngIf="!prezzoVisible">Prezzo: {{prezzoProdotto}}</label>
    <label *ngIf="!messErroreVisible">{{messaggioErrore}}</label>
    <br>
    <button (click)="stornaUltimo()" *ngIf="!stornaVisible" class="button">Storna ultimo</button>
    <br>
    <button (click)="annullaScontrino()" [disabled]="annullaScontrinoDisabled" class="button">Annulla Scontrino</button>
    <br>
    <button (click)=annulla() [disabled]="annullaDisabled" class="button">Annulla</button>
    <br>
    <button (click)=conferma() [disabled]="confermaDisabled" class="button">Conferma</button>
    <br>
    <h2>{{ultimoElemento}}</h2>
    <table *ngIf="listaVisible">
        <tr>
            <th>Quantità</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
        </tr>
        <tr *ngFor="let r of righe">
            <td>{{r.quantita}}</td>
            <td>{{r.prodotto.descrizione}}</td>
            <td>{{r.prodotto.prezzo}}</td>
        </tr>
    </table>
</body>