ciao
<button (click)="nuova()">Nuova</button>
<button (click)="tornaHome()">Torna alla home page</button>
<input type="text" placeholder="codice" [(ngModel)]="codice">
<input type="text" placeholder="descrizione" [(ngModel)]="descrizione">
<input type="text" placeholder="ean" [(ngModel)]="ean">
<input type="text" placeholder="prezzo" [(ngModel)]="prezzo">
<input type="text" placeholder="Scorta minima scaffale" [(ngModel)]="scortaScaffale">
<input type="text" placeholder="Scorta minima magazzino" [(ngModel)]="scortaMagazzino">
<input type="text" placeholder="Lotto riordino" [(ngModel)]="lottoRiordino">
<br>
<button (click)="modifica()">Modifica</button>
<button (click)="conferma()">Conferma</button>
<button (click)="annulla()">Annulla</button>
<button (click)="rimuovi()">Rimuovi</button>
<br>
<input type="text" placeholder="Cerca per codice" [(ngModel)]="searchCriterion">
<button (click)="cerca()">Cerca</button>
<table>
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Ean</th>
        <th>Prezzo</th>
        <th>Scorta minima scaffale</th>
        <th>Scorta minima magazzino</th>
        <th>Lotto riordino</th>
        <th>Seleziona</th>
    </tr>
    <tr *ngFor="let p of prodotti">
        <td>{{p.ean}}</td>
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td>{{p.prezzo}}</td>
        <td>{{p.scortaMinimaScaf}}</td>
        <td>{{p.scortaMinimaMag}}</td>
        <td>{{p.lottoRiordino}}</td>
        <td><button (click)="seleziona(p)">Seleziona</button></td>
    </tr>
</table>