<body>
  <app-toolbar-menu></app-toolbar-menu>
  <div>
    <h1 class="headAnagrafica">ANAGRAFICA POSIZIONI</h1>
  </div>
  <button (click)="nuova()" *ngIf="buttonNuovaVisible" class="button">Nuova</button>
  <div *ngIf="formDivVisible">
    <input type="text" placeholder="codice" [(ngModel)]="posizione.codice" [disabled]="campiNonEditabili" class="input">
    <input type="text" placeholder="descrizione" [(ngModel)]="posizione.descrizione" [disabled]="campiNonEditabili"
      class="input">
    <br>
    <button (click)="modifica()" *ngIf="!confAnnVisible" class="button">Modifica</button>
    <button (click)="conferma()" *ngIf="confAnnVisible" class="button">Conferma</button>
    <button (click)="annulla()" *ngIf="confAnnVisible" class="button">Annulla</button>
    <button (click)="rimuovi()" *ngIf="!confAnnVisible" class="button">Rimuovi</button>
  </div>
  <br>
  <input type="text" placeholder="cerca" [(ngModel)]="criterio" *ngIf="searchVisible" class="inputSearch">
  <button (click)="cerca()" *ngIf="searchVisible" class="button">Cerca</button>
  <br>
  <table *ngIf="searchVisible" class="scrolldown">
    <thead>
      <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of posizioni">
        <td>{{p.codice}}</td>
        <td>{{p.descrizione}}</td>
        <td>
          <button (click)="seleziona(p)" class="buttonSel">Seleziona</button>
        </td>
      </tr>
    </tbody>
  </table>
</body>