<body>
    <app-toolbar-menu></app-toolbar-menu>
    <div>
        <h4>DASHBOARD GRUPPO UNO</h4>
    </div>
    <div>
        <input class="inputBarcode" type="text" [(ngModel)]="barcode" (blur)="blurVar ? cercaEan($event) : vediPrezzo($event)"
            placeholder="barcode" *ngIf="eanEdit">
        <p *ngIf="prezzoRVis"> Prezzo : {{prezzoR}} &euro;</p>
        <br><br>
        <button class="button" (click)="TastoVediPrezzo()" *ngIf="vediPrezzoVis">Vedi Prezzo</button>&nbsp;
        <button class="button" (click)="chiudiScontrino()" *ngIf="chiudiVis" [disabled]="!chiudiAble">Chiudi Scontrino</button>&nbsp;
        <button class="button" (click)="stornaUltimo()" *ngIf="stornaVis">Storna Ultimo</button>&nbsp;
        <button class="button" (click)="annullaScontrino()" *ngIf="annullaScontrinoVis" [disabled]="!annullaScontrinoAble">Annulla
            Scontrino</button>&nbsp;
    </div>
    <br>
    <br>
    <div>
        <button class="button" (click)="annulla()" *ngIf="confermaVis" [disabled]="!confermaAble">Annulla</button>&nbsp;
        <button class="button" (click)="conferma()" *ngIf="annullaVis" [disabled]="!annullaAble">Conferma</button>&nbsp;
    </div>
    <p *ngIf="prezzoVis"> Prezzo Totale : {{prezzoTot}} &euro;</p>
    <br><br> <br> <p *ngIf="ultimoElVis"> Ultimo elemento - descrizione: {{descrizioneE}} prezzo: {{prezzoE}} &euro; </p>
    <br>
    <br>
    <br>
    <div>
        <table *ngIf="listaVis">
            <tr>
                <th>Quantità</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
            <tr *ngFor="let r of righeScontrino">
                <td>{{r.quantita}}</td>
                <td>{{r.prodotto.descrizione}}</td>
                <td>{{r.prodotto.prezzo}} &euro;</td>
            </tr>
        </table>
    </div>
</body>