<div class="contiene">
    <button  (click)="goToFirst()"><<</button>
    <button  (click)="goToPrevious()"><</button>
    <input class="numtype" type="number" min="1" [max]="totalPages" [(ngModel)]="numPaginaV" (blur)="aggiornaPaginati(this.numPaginaV)"/>
    <button  (click)="goToNext()">></button>
    <button  (click)="goToLast()">>></button>
    <div class="btn">
        <label>Elementi per Pagina </label>
        <select name="pag"  [(ngModel)]="elemPag" (change)="setPageSize(this.elemPag)">
            <option elemPag = 10 >10</option>
            <option elemPag = 25 >25</option>
            <option elemPag = 50 >50</option>
        </select>
    </div>
</div>
